@using SchoolManagement.Model
@model List<TeacherLeaveRequest>


<partial name="Notification" />
<div class="col-md-12 ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Student Apply For School </h4>
            <p class="card-description">
                Request
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Staff Name</th>
                            <th>Standard</th>
                            <th>Start Date</th>
                            <th>End Date </th>
                            <th>Subject</th>
                            <th>Reason</th>
                            <th>Action </th>
                            
                        </tr>
                    </thead>
                    @foreach (var a in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@a.UserName</td>
                                <td>@a.Standard</td>
                                <td>@a.StartDate</td>
                                <td>@a.EndDate</td>
                                <td>@a.Subject</td>
                                <td>@a.Reason</td>
                                <td>
                                    <input type="button" class="btn btn-warning btn-rounded btn-fw" value="Approve" data-Id="@a.LeaveRequestId" data-status="Approve" onclick="changeLeaveStatus(this)" />
                                    <input type="button" class="btn btn-danger btn-rounded btn-fw" value="Reject" data-Id="@a.LeaveRequestId" data-status="Rejected" onclick="changeLeaveStatus(this)" />

                                </td>

                            </tr>

                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function changeLeaveStatus(button) {
        var teacherId = $(button).data("id");
        var status = $(button).data("status");

        $.ajax({
            url: '@Url.Action("LeaveStatus", "Admin")', // Adjust if necessary
            type: 'POST',
            data: {
                Id: teacherId,
                status: status
            },
            success: function (response) {
                // Handle success response (optional)
                alert('Send Email !');
            },
            error: function (xhr, status, error) {
                // Handle error response (optional)
                alert('Error updating status: ' + error);
            }
        });
    }
</script>